doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    meta(name="description" content=" ")
    meta(name="csrf-token" content=get_csrf_token())
    title Expug
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href=static_path(@conn, "/css/app.css"))
  body
    = render @view_module, @view_template, assigns
    script(src="https://code.jquery.com/jquery-3.0.0.min.js")
    script(src=static_path(@conn, "/js/app.js"))
