/* This file is for your main application css. */

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  background: #fcfcfd;
}

.expug-nav {
  height: 56px;
  line-height: 56px;
  background: white;
  box-shadow: 0 3px 8px rgba(0, 50, 100, 0.03);
  margin-bottom: 24px;

  &:after {
    display: table;
    content: '';
    clear: both;
    zoom: 1;
  }

  & > * > a {
    display: inline-block;
    margin-right: 16px;
  }

  & > * > .brand {
    font-weight: bold;
    color: #111;
  }
}

.try-expug {
  width: auto;
  margin: 0 16px;
  display: flex;
}

.try-expug > .field {
  flex: 1 1 50%;
  margin: 0 16px;
  position: relative;
}

.try-expug > .info {
  flex: 0 0 200px;
  margin: 0 16px;
}

.input-box {
  background: transparent;
  width: 100%;
  box-sizing: border-box;
  height: 400px;
  padding: 0;
  font-family: monospace;
  border: 0;
  line-height: 20px;
  white-space: nowrap;
  resize: none;

  background-size: 80px 80px;
  background-image:
    linear-gradient(to bottom,
    rgba(0, 0, 0, 0.04),
    rgba(0, 0, 0, 0.04) 25%,
    rgba(0, 0, 0, 0.00) 25%,
    rgba(0, 0, 0, 0.00) 50%,
    rgba(0, 0, 0, 0.015) 50%,
    rgba(0, 0, 0, 0.015) 75%,
    rgba(0, 0, 0, 0.00) 75%,
    rgba(0, 0, 0, 0.00));

  &:focus {
    outline: 0;
  }
}

.info-box {
  & > h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: 300;
  }

  & > p {
    margin-top: 16px;
  }
}

.field-heading {
  font-size: 1em;
  height: 24px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 16px;
}


.error-box {
  position: absolute;
  left: 0;
  top: 56px;
  z-index: 10;
  margin-bottom: 16px;
  color: #d33;
  padding: 16px;
  display: none;

  &.-show {
    display: block;
    background: rgba(255, 255, 255, .9);
  }

  &.-show + .input-box {
    opacity: .1;
  }
}
