.try-expug.-frame
  .field.-in
    h3.field-heading Input
    textarea.input-box.-in(role="input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
      = @code
  .field.-out
    h3.field-heading Output
    .error-box(role="error")
    textarea.input-box.-out(role="output" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
